[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
